Repository ofri-peretz/forge-js: changes, and which Codecov flags are due for each by the changed paths.
All: ESLint Plugin, CLI, ESLint Plugin Utils, Playground App, Security Rules, Architecture Rules

fix: nxjson
  nx.json
Due: none

chore(release):
  packages/cli/package.json
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin-utils/package.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin, CLI, ESLint Plugin Utils

fix: lockfile
  packages/eslint-plugin/package.json
Due: ESLint Plugin

fix: versions
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp/package.json
  pnpm-lock.yaml
Due: none

fix: script logic
  scripts/check-markdown-links.ts
Due: none

fix: fallback resolver
  nx.json
Due: none

chore: add fetching tags
  .github/workflows/ci-pr.yml
  .github/workflows/release.yml
Due: none

chore: improve release
  .github/workflows/release.yml
Due: none

chore: fix docs format
  .cursorrules/eslint-rule-checklist.md
  docs/ESLINT_LEADERSHIP_STRATEGY.md
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm/README.md
  packages/eslint-plugin-mcp-optimized/README.md
  packages/eslint-plugin-mcp/README.md
  packages/eslint-plugin/.cursor/rules/eslint-rule-llm-format.mdc
  packages/eslint-plugin/.cursorrules
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/no-circular-dependencies.md
  packages/eslint-plugin/docs/rules/no-console-log.md
  packages/eslint-plugin/docs/rules/no-sql-injection.md
  packages/eslint-plugin/docs/rules/no-unsafe-dynamic-require.md
Due: ESLint Plugin

chore: fix workflows
  .github/TRUSTED_PUBLISHING_SETUP.md
  .github/workflows/release.yml
  graph.json
  package.json
  packages/eslint-plugin-llm-optimized/project.json
  packages/eslint-plugin-llm/project.json
  packages/eslint-plugin-mcp-optimized/project.json
  packages/eslint-plugin-mcp/project.json
  packages/eslint-plugin/project.json
  scripts/setup-branch-protection.sh
Due: ESLint Plugin

chore: align all packages versions
  packages/cli/package.json
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin-utils/package.json
  packages/eslint-plugin/package.json
  scripts/test-release-workflow.sh
Due: ESLint Plugin, CLI, ESLint Plugin Utils

chore: release.yml fixes
  .github/workflows/release.yml
  packages/eslint-plugin/package.json
Due: ESLint Plugin

chore(release):
  packages/cli/package.json
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin, CLI

chore: add trusted publisher attributes
  .github/workflows/release.yml
Due: none

chore: add resilience to release workflow for state gaps
  .github/workflows/release.yml
Due: none

chore: Improve release workflow resilience
  .github/workflows/release.yml
Due: none

chore: improve release.yml
  .github/workflows/release.yml
Due: none

fix: Make PR creation non-fatal in release workflow
  .github/workflows/release.yml
Due: none

fix: Improve release workflow error handling and deadlock prevention
  .github/workflows/release.yml
Due: none

chore: improve release
  .cursorrules/README.md
  .cursorrules/add-new-package-checklist.md
  .github/workflows/release-unscoped.yml
  .github/workflows/release.yml
Due: none

feat: add NPM_TOKEN fallback support for unscoped packages
  .github/workflows/release.yml
Due: none

chore: add resilience
  .github/workflows/ci-pr.yml
  .github/workflows/lint-pr.yml
  .github/workflows/release-unscoped.yml
  .github/workflows/release.yml
Due: none

chore: improve resilience
  .cursorrules/README.md
  .cursorrules/workflow-maintenance-checklist.md
  .github/workflows/ci-pr.yml
  .github/workflows/lint-pr.yml
  .github/workflows/release-unscoped.yml
  .github/workflows/release.yml
Due: none

chore: drop nx cloud
  .github/workflows/ci-pr.yml
  .github/workflows/lint-pr.yml
  .github/workflows/release-unscoped.yml
  .github/workflows/release.yml
  nx.json
Due: none

fix: lint issues
  .github/workflows/lint-pr.yml
  packages/eslint-plugin/src/rules/accessibility/img-requires-alt.ts
  packages/eslint-plugin/src/rules/complexity/cognitive-complexity.ts
  packages/eslint-plugin/src/rules/deprecation/no-deprecated-api.ts
  packages/eslint-plugin/src/rules/domain/enforce-naming.ts
  packages/eslint-plugin/src/rules/migration/react-class-to-hooks.ts
  packages/eslint-plugin/src/rules/react/required-attributes.ts
  packages/eslint-plugin/src/rules/security/database-injection.ts
  packages/eslint-plugin/src/rules/security/detect-child-process.ts
  packages/eslint-plugin/src/rules/security/detect-eval-with-expression.ts
  packages/eslint-plugin/src/rules/security/detect-non-literal-fs-filename.ts
  packages/eslint-plugin/src/rules/security/detect-non-literal-regexp.ts
  packages/eslint-plugin/src/rules/security/detect-object-injection.ts
  packages/eslint-plugin/src/rules/security/no-sql-injection.ts
  packages/eslint-plugin/src/rules/security/no-unsafe-dynamic-require.ts
Due: ESLint Plugin, Security Rules

fix: missing code
  packages/eslint-plugin/src/rules/complexity/cognitive-complexity.ts
Due: ESLint Plugin

fix: replace undefined run_version_command function with actual command execution
  .github/workflows/release.yml
Due: none

chore(release):
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin

chore: improve
  .github/workflows/release.yml
  packages/eslint-plugin-llm-optimized/package.json
Due: none

Path conditions:
  ESLint Plugin: any of: packages/eslint-plugin/**
  CLI: any of: packages/cli/**
  ESLint Plugin Utils: any of: packages/eslint-plugin-utils/**
  Playground App: any of: apps/playground/**
  Security Rules: any of: packages/eslint-plugin/src/rules/security/**
  Architecture Rules: any of: packages/eslint-plugin/src/rules/architecture/**
