Repository ofri-peretz/forge-js: changes, and which Codecov flags are due for each by the changed paths.
All: ESLint Plugin, CLI, ESLint Plugin Utils, Playground App, Security Rules, Architecture Rules

chore(deps): consolidate all dependency updates
  pnpm-lock.yaml
Due: none

chore(vitest): add HTML reporter to all vitest configs for local development
  apps/playground/vitest.config.mts
  packages/cli/vitest.config.mts
  packages/eslint-plugin-utils/vitest.config.mts
  packages/eslint-plugin/vitest.config.mts
Due: ESLint Plugin, CLI, ESLint Plugin Utils, Playground App

fix: lockfile
  pnpm-lock.yaml
Due: none

chore: drop postinstall script
  package.json
Due: none

chore: test configuration
  apps/playground/vitest.config.mts
  packages/cli/vitest.config.mts
  packages/eslint-plugin-utils/vitest.config.mts
  packages/eslint-plugin/vitest.config.mts
Due: ESLint Plugin, CLI, ESLint Plugin Utils, Playground App

chore: improve docs and add ci docs only
  .github/workflows/ci.yml
  README.md
Due: none

chore: fix config file
  apps/playground/vite.config.ts
Due: Playground App

chore: fix config files
  .github/workflows/ci.yml
  apps/playground/vite.config.ts
  nx.json
Due: Playground App

fix: test config
  apps/playground/vitest.config.mts
  packages/eslint-plugin/vitest.config.mts
Due: ESLint Plugin, Playground App

fix: configs
  .github/workflows/ci-lint.yml
  .github/workflows/ci.yml
  apps/playground/project.json
  apps/playground/vitest.config.mts
  nx.json
  packages/cli/project.json
  packages/cli/vitest.config.mts
  packages/eslint-plugin-utils/project.json
  packages/eslint-plugin-utils/vitest.config.mts
  packages/eslint-plugin/project.json
  packages/eslint-plugin/vitest.config.mts
  vitest.global-setup.ts
Due: ESLint Plugin, CLI, ESLint Plugin Utils, Playground App

chore: workflow fixes
  .github/workflows/ci-lint.yml
  .github/workflows/ci.yml
  packages/cli/project.json
  packages/eslint-plugin-utils/project.json
  packages/eslint-plugin/project.json
Due: ESLint Plugin, CLI, ESLint Plugin Utils

feat(nx-cloud): setup nx cloud workspace
  nx.json
Due: none

fix: lint
  .github/workflows/ci-lint.yml
Due: none

chore(release):
  packages/eslint-plugin-utils/CHANGELOG.md
  packages/eslint-plugin-utils/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/accessibility/img-requires-alt.ts
  packages/eslint-plugin/src/rules/complexity/cognitive-complexity.ts
  packages/eslint-plugin/src/rules/deprecation/no-deprecated-api.ts
  packages/eslint-plugin/src/rules/domain/enforce-naming.ts
  packages/eslint-plugin/src/rules/duplication/identical-functions.ts
  packages/eslint-plugin/src/rules/migration/react-class-to-hooks.ts
  packages/eslint-plugin/src/rules/performance/react-no-inline-functions.ts
  packages/eslint-plugin/src/rules/react/required-attributes.ts
  packages/eslint-plugin/src/rules/security/database-injection.ts
  packages/eslint-plugin/src/rules/security/detect-child-process.ts
  packages/eslint-plugin/src/rules/security/detect-eval-with-expression.ts
  packages/eslint-plugin/src/rules/security/detect-non-literal-fs-filename.ts
  packages/eslint-plugin/src/rules/security/detect-non-literal-regexp.ts
  packages/eslint-plugin/src/rules/security/detect-object-injection.ts
  packages/eslint-plugin/src/rules/security/no-sql-injection.ts
  packages/eslint-plugin/src/rules/security/no-unsafe-dynamic-require.ts
Due: ESLint Plugin, ESLint Plugin Utils, Security Rules

feat: add improvements to rules
  packages/eslint-plugin/src/rules/accessibility/img-requires-alt.ts
  packages/eslint-plugin/src/rules/architecture/no-circular-dependencies.ts
  packages/eslint-plugin/src/rules/complexity/cognitive-complexity.ts
  packages/eslint-plugin/src/rules/deprecation/no-deprecated-api.ts
  packages/eslint-plugin/src/rules/development/no-console-log.ts
  packages/eslint-plugin/src/rules/domain/enforce-naming.ts
  packages/eslint-plugin/src/rules/duplication/identical-functions.ts
  packages/eslint-plugin/src/rules/migration/react-class-to-hooks.ts
  packages/eslint-plugin/src/rules/performance/react-no-inline-functions.ts
  packages/eslint-plugin/src/rules/react/required-attributes.ts
  packages/eslint-plugin/src/rules/security/database-injection.ts
  packages/eslint-plugin/src/rules/security/detect-child-process.ts
  packages/eslint-plugin/src/rules/security/detect-eval-with-expression.ts
  packages/eslint-plugin/src/rules/security/detect-non-literal-fs-filename.ts
  packages/eslint-plugin/src/rules/security/detect-non-literal-regexp.ts
  packages/eslint-plugin/src/rules/security/detect-object-injection.ts
  packages/eslint-plugin/src/rules/security/no-sql-injection.ts
  packages/eslint-plugin/src/rules/security/no-unsafe-dynamic-require.ts
Due: ESLint Plugin, Security Rules, Architecture Rules

feat: add types to rules for easy usage
  packages/eslint-plugin/TYPES_IMPLEMENTATION.md
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/types/README.md
  packages/eslint-plugin/src/types/__example.ts
  packages/eslint-plugin/src/types/index.ts
Due: ESLint Plugin

feat: add docs and examples
  packages/eslint-plugin/docs/rules/no-circular-dependencies.md
  packages/eslint-plugin/docs/rules/no-console-log.md
  packages/eslint-plugin/docs/rules/react-no-inline-functions.md
  packages/eslint-plugin/src/types/CONFIGURATION_EXAMPLES.md
  packages/eslint-plugin/src/types/README.md
Due: ESLint Plugin

chore(eslint-plugin): remove redudant file
  packages/eslint-plugin/src/types/__example.ts
Due: ESLint Plugin

fix(eslint-plugin): format
  packages/eslint-plugin/package.json
Due: ESLint Plugin

fix(eslint-plugin): all coderabbitai comments
  .github/PUBLISH_WORKFLOW_GUIDE.md
  .github/workflows/prepare-release.yml
  .github/workflows/publish-manual.yml
  packages/eslint-plugin/DOCUMENTATION_GUIDE.md
  packages/eslint-plugin/TYPES_IMPLEMENTATION.md
  packages/eslint-plugin/docs/rules/no-circular-dependencies.md
  packages/eslint-plugin/docs/rules/react-no-inline-functions.md
  packages/eslint-plugin/src/rules/architecture/no-circular-dependencies.ts
  packages/eslint-plugin/src/rules/duplication/identical-functions.ts
  packages/eslint-plugin/src/rules/performance/react-no-inline-functions.ts
Due: ESLint Plugin, Architecture Rules

chore: consolidation-workflows
  .github/NPM_SETUP_QUICK_REFERENCE.md
  .github/README.md
  .github/RELEASE_QUICK_START.md
  .github/TRUSTED_PUBLISHING_SETUP.md
  .github/workflows/ci-pr.yml
  .github/workflows/lint-pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

chore: remove redundant workflows
  .github/workflows/prepare-release.yml
  .github/workflows/publish-manual.yml
Due: none

fix: update nx.json release config structure for nx release v3 compatibility
  nx.json
Due: none

fix: add git user configuration to release workflow
  .github/workflows/release.yml
Due: none

chore: use personal git identity for release commits
  .github/workflows/release.yml
Due: none

fix: remove duplicate build step from publish job
  .github/workflows/release.yml
Due: none

fix: use --tag parameter instead of modifying nx.json
  .github/workflows/release.yml
Due: none

fix: include package.json in build assets for npm publishing
  packages/eslint-plugin-utils/project.json
  packages/eslint-plugin/project.json
Due: ESLint Plugin, ESLint Plugin Utils

fix: include @forge-js/cli package in release configuration
  nx.json
  packages/cli/project.json
Due: CLI

fix: ensure packages build with correct versions in release
  nx.json
Due: none

fix: remove redundant build step from release workflow
  .github/workflows/release.yml
Due: none

fix: unify release workflow into single job for artifact consistency
  .github/workflows/release.yml
Due: none

fix: build packages before version determination
  .github/workflows/release.yml
  nx.json
Due: none

fix: add prepare publish rebuild to ensure correct versions
  .github/workflows/release.yml
  nx.json
Due: none

fix: simplify release flow - build once with new versions
  nx.json
  packages/cli/project.json
  packages/eslint-plugin-llm-optimized/project.json
  packages/eslint-plugin/project.json
Due: ESLint Plugin, CLI

fix: remove invalid generatorOptions from eslint-plugin-llm-optimized
  packages/eslint-plugin-llm-optimized/project.json
Due: none

chore(release):
  packages/cli/package.json
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-utils/package.json
Due: CLI, ESLint Plugin Utils

docs: update README to trigger patch version
  packages/cli/project.json
  packages/eslint-plugin-llm-optimized/LICENSE
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm-optimized/eslint.config.mjs
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm-optimized/src/index.ts
  packages/eslint-plugin-llm-optimized/tsconfig.json
  packages/eslint-plugin-llm-optimized/tsconfig.lib.json
  packages/eslint-plugin-llm-optimized/vitest.config.mts
  packages/eslint-plugin-utils/project.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/project.json
Due: ESLint Plugin, CLI, ESLint Plugin Utils

fix: minor update to trigger patch version bump
  packages/eslint-plugin/README.md
Due: ESLint Plugin

chore(release):
  .github/workflows/release.yml
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm-optimized/project.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin

Path conditions:
  ESLint Plugin: any of: packages/eslint-plugin/**
  CLI: any of: packages/cli/**
  ESLint Plugin Utils: any of: packages/eslint-plugin-utils/**
  Playground App: any of: apps/playground/**
  Security Rules: any of: packages/eslint-plugin/src/rules/security/**
  Architecture Rules: any of: packages/eslint-plugin/src/rules/architecture/**
