Repository ofri-peretz/forge-js: changes, and which Codecov flags are due for each by the changed paths.
All: ESLint Plugin, CLI, ESLint Plugin Utils, Playground App, Security Rules, Architecture Rules

fix: update README for republish with correct package name
  packages/eslint-plugin/README.md
Due: ESLint Plugin

fix: include README in published package
  packages/eslint-plugin/README.md
Due: ESLint Plugin

chore(release):
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin

fix: prepare for new release
  packages/eslint-plugin/README.md
Due: ESLint Plugin

fix: prepare release 0.4.4
  packages/eslint-plugin/README.md
Due: ESLint Plugin

chore(release):
  packages/eslint-plugin-llm-optimized/package.json
Due: none

docs: update README to trigger patch version
  packages/cli/project.json
  packages/eslint-plugin-llm-optimized/LICENSE
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm-optimized/eslint.config.mjs
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm-optimized/src/index.ts
  packages/eslint-plugin-llm-optimized/tsconfig.json
  packages/eslint-plugin-llm-optimized/tsconfig.lib.json
  packages/eslint-plugin-llm-optimized/vitest.config.mts
  packages/eslint-plugin-utils/project.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/project.json
Due: ESLint Plugin, CLI, ESLint Plugin Utils

chore(release):
  packages/cli/package.json
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-utils/package.json
Due: CLI, ESLint Plugin Utils

fix: add prepare publish rebuild to ensure correct versions
  .github/workflows/release.yml
  nx.json
Due: none

fix: simplify release flow - build once with new versions
  nx.json
  packages/cli/project.json
  packages/eslint-plugin-llm-optimized/project.json
  packages/eslint-plugin/project.json
Due: ESLint Plugin, CLI

fix: remove invalid generatorOptions from eslint-plugin-llm-optimized
  packages/eslint-plugin-llm-optimized/project.json
Due: none

fix: minor update to trigger patch version bump
  packages/eslint-plugin/README.md
Due: ESLint Plugin

chore(release):
  .github/workflows/release.yml
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm-optimized/project.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin

chore: workflows and packages
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm-optimized/project.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/project.json
Due: ESLint Plugin

chore(release):
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
Due: none

feat: add more packages for a/b testing
  .gitignore
  README.md
  nx.json
  package.json
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm/CHANGELOG.md
  packages/eslint-plugin-llm/LICENSE
  packages/eslint-plugin-llm/README.md
  packages/eslint-plugin-llm/eslint.config.mjs
  packages/eslint-plugin-llm/project.json
  packages/eslint-plugin-llm/src/index.ts
  packages/eslint-plugin-llm/tsconfig.json
  packages/eslint-plugin-llm/tsconfig.lib.json
  packages/eslint-plugin-llm/tsconfig.spec.json
  packages/eslint-plugin-llm/vitest.config.mts
  packages/eslint-plugin-mcp-optimized/CHANGELOG.md
  packages/eslint-plugin-mcp-optimized/LICENSE
  packages/eslint-plugin-mcp-optimized/README.md
  packages/eslint-plugin-mcp-optimized/eslint.config.mjs
  packages/eslint-plugin-mcp-optimized/project.json
  packages/eslint-plugin-mcp-optimized/src/index.ts
  packages/eslint-plugin-mcp-optimized/tsconfig.json
  packages/eslint-plugin-mcp-optimized/tsconfig.lib.json
  packages/eslint-plugin-mcp-optimized/tsconfig.spec.json
  packages/eslint-plugin-mcp-optimized/vitest.config.mts
  packages/eslint-plugin-mcp/CHANGELOG.md
  packages/eslint-plugin-mcp/LICENSE
  packages/eslint-plugin-mcp/README.md
  packages/eslint-plugin-mcp/eslint.config.mjs
  packages/eslint-plugin-mcp/project.json
  packages/eslint-plugin-mcp/src/index.ts
  packages/eslint-plugin-mcp/tsconfig.json
  packages/eslint-plugin-mcp/tsconfig.lib.json
  packages/eslint-plugin-mcp/tsconfig.spec.json
  packages/eslint-plugin-mcp/vitest.config.mts
  project.json
  tsconfig.base.json
  vitest.workspace.ts
Due: none

fix: type issue
  packages/cli/src/commands/publish.ts
Due: CLI

chore: make docs AEO-optimized
  docs/ESLINT_LEADERSHIP_STRATEGY.md
  packages/cli/README.md
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm/README.md
  packages/eslint-plugin-mcp-optimized/README.md
  packages/eslint-plugin-mcp/README.md
  packages/eslint-plugin-utils/README.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/cognitive-complexity.md
  packages/eslint-plugin/docs/rules/database-injection.md
  packages/eslint-plugin/docs/rules/detect-child-process.md
  packages/eslint-plugin/docs/rules/detect-eval-with-expression.md
  packages/eslint-plugin/docs/rules/detect-non-literal-fs-filename.md
  packages/eslint-plugin/docs/rules/detect-non-literal-regexp.md
  packages/eslint-plugin/docs/rules/detect-object-injection.md
  packages/eslint-plugin/docs/rules/enforce-naming.md
  packages/eslint-plugin/docs/rules/identical-functions.md
  packages/eslint-plugin/docs/rules/img-requires-alt.md
  packages/eslint-plugin/docs/rules/no-circular-dependencies.md
  packages/eslint-plugin/docs/rules/no-console-log.md
  packages/eslint-plugin/docs/rules/no-deprecated-api.md
  packages/eslint-plugin/docs/rules/no-internal-modules.md
  packages/eslint-plugin/docs/rules/no-sql-injection.md
  packages/eslint-plugin/docs/rules/no-unsafe-dynamic-require.md
  packages/eslint-plugin/docs/rules/react-class-to-hooks.md
  packages/eslint-plugin/docs/rules/react-no-inline-functions.md
  packages/eslint-plugin/docs/rules/required-attributes.md
Due: ESLint Plugin, CLI, ESLint Plugin Utils

fix: switch to pnpm lockfile
  package-lock.json
  pnpm-lock.yaml
Due: none

chore: drop codecov
  .github/workflows/ci-pr.yml
  codecov.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: fix lint configuration and dependencies
  eslint.config.mjs
  packages/cli/package.json
  packages/cli/src/commands/publish.ts
  packages/cli/src/commands/release.ts
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/eslint.config.mjs
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/eslint.config.mjs
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin-utils/package.json
  pnpm-lock.yaml
Due: CLI, ESLint Plugin Utils

chore: align deps
  .github/workflows/ci-pr.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: fix workflows and configurations
  .github/workflows/release.yml
  .gitignore
  nx.json
  packages/cli/src/commands/release.ts
  packages/eslint-plugin-llm/package.json
Due: CLI

chore: fix versions
  package.json
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
  project.json
  scripts/delete-branches.sh
Due: ESLint Plugin

chore(release):
  packages/cli/package.json
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin-utils/package.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin, CLI, ESLint Plugin Utils

fix: lockfile
  packages/eslint-plugin/package.json
Due: ESLint Plugin

fix: versions
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  ESLint Plugin: any of: packages/eslint-plugin/**
  CLI: any of: packages/cli/**
  ESLint Plugin Utils: any of: packages/eslint-plugin-utils/**
  Playground App: any of: apps/playground/**
  Security Rules: any of: packages/eslint-plugin/src/rules/security/**
  Architecture Rules: any of: packages/eslint-plugin/src/rules/architecture/**
