Repository ofri-peretz/forge-js: changes, and which Codecov flags are due for each by the changed paths.
All: ESLint Plugin, CLI, ESLint Plugin Utils, Playground App, Security Rules, Architecture Rules

chore(release):
  packages/cli/package.json
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin-utils/package.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin, CLI, ESLint Plugin Utils

fix: include README.md, LICENSE, CHANGELOG.md, and AGENTS.md in all package builds
  AEO_OPTIMIZATION_SUMMARY.md
  packages/cli/project.json
  packages/eslint-plugin-llm-optimized/project.json
  packages/eslint-plugin-llm/project.json
  packages/eslint-plugin-mcp-optimized/project.json
  packages/eslint-plugin-mcp/project.json
  packages/eslint-plugin-utils/project.json
  packages/eslint-plugin/project.json
Due: ESLint Plugin, CLI, ESLint Plugin Utils

chore(release):
  RELEASE_GUIDE.md
  packages/cli/package.json
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/README.md
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/README.md
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/README.md
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin-utils/package.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin, CLI, ESLint Plugin Utils

docs: update all plugin READMEs with accurate rule counts
  RELEASE_GUIDE.md
  packages/cli/package.json
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/README.md
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/README.md
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/README.md
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin-utils/package.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin, CLI, ESLint Plugin Utils

feat: add more S6 S4
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/security/no-exposed-sensitive-data.ts
  packages/eslint-plugin/src/rules/security/no-insecure-cookie-settings.ts
  packages/eslint-plugin/src/rules/security/no-missing-csrf-protection.ts
  packages/eslint-plugin/src/rules/security/no-unencrypted-transmission.ts
  packages/eslint-plugin/src/tests/no-exposed-sensitive-data.test.ts
  packages/eslint-plugin/src/tests/no-insecure-cookie-settings.test.ts
  packages/eslint-plugin/src/tests/no-missing-csrf-protection.test.ts
  packages/eslint-plugin/src/tests/no-unencrypted-transmission.test.ts
Due: ESLint Plugin, Security Rules

feat: add docs for new security rules
  ROADMAP.md
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm/README.md
  packages/eslint-plugin-mcp-optimized/README.md
  packages/eslint-plugin-mcp/README.md
  packages/eslint-plugin/.cursorrules
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/no-exposed-sensitive-data.md
  packages/eslint-plugin/docs/rules/no-insecure-cookie-settings.md
  packages/eslint-plugin/docs/rules/no-missing-csrf-protection.md
  packages/eslint-plugin/docs/rules/no-unencrypted-transmission.md
Due: ESLint Plugin

fix: build issues
  packages/eslint-plugin/src/rules/security/no-exposed-sensitive-data.ts
  packages/eslint-plugin/src/rules/security/no-insecure-cookie-settings.ts
Due: ESLint Plugin, Security Rules

fix(eslint-plugin): add TypeScript type annotations for fixer parameters
  packages/eslint-plugin/src/rules/security/no-insecure-cookie-settings.ts
  packages/eslint-plugin/src/rules/security/no-missing-csrf-protection.ts
  packages/eslint-plugin/src/rules/security/no-unencrypted-transmission.ts
Due: ESLint Plugin, Security Rules

chore(release):
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin

fix: rules
  packages/eslint-plugin/src/rules/error-handling/no-silent-errors.ts
  packages/eslint-plugin/src/rules/performance/no-unnecessary-rerenders.ts
  packages/eslint-plugin/src/rules/quality/no-unsafe-type-narrowing.ts
  packages/eslint-plugin/src/rules/security/no-insecure-redirects.ts
Due: ESLint Plugin, Security Rules

fix: add type annotation for stmt parameter in no-unnecessary-rerenders
  packages/eslint-plugin/src/rules/performance/no-unnecessary-rerenders.ts
Due: ESLint Plugin

docs: update READMEs and AGENTS.md with 62+ rules count and all-in-one solution advantage
  packages/eslint-plugin-llm-optimized/AGENTS.md
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm/AGENTS.md
  packages/eslint-plugin-llm/README.md
  packages/eslint-plugin-mcp/AGENTS.md
  packages/eslint-plugin-mcp/README.md
  packages/eslint-plugin/AGENTS.md
  packages/eslint-plugin/README.md
Due: ESLint Plugin

feat: add all non fixable common rules
  docs/BENCHMARK.md
  package.json
  packages/eslint-plugin-code-mode/README.md
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm/README.md
  packages/eslint-plugin-mcp-optimized/README.md
  packages/eslint-plugin-mcp/README.md
  packages/eslint-plugin-utils/README.md
  packages/eslint-plugin-utils/package.json
  packages/eslint-plugin-utils/src/index.ts
  packages/eslint-plugin-utils/src/llm-message-format.test.ts
  packages/eslint-plugin-utils/src/llm-message-format.ts
  packages/eslint-plugin-utils/src/sarif-formatter.test.ts
  packages/eslint-plugin-utils/src/sarif-formatter.ts
  packages/eslint-plugin/README.md
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/architecture/no-circular-dependencies.ts
  packages/eslint-plugin/src/rules/react/jsx-key.ts
  packages/eslint-plugin/src/rules/security/no-sql-injection.ts
  packages/eslint-plugin/src/tests/detect-object-injection.test.ts
  packages/eslint-plugin/src/tests/no-sql-injection.test.ts
  packages/eslint-plugin/src/tests/node-fs-utils.test.ts
  packages/eslint-plugin/src/tests/security-utils.test.ts
  packages/eslint-plugin/src/utils/node-fs-utils.ts
  packages/eslint-plugin/src/utils/security-utils.ts
  scripts/benchmark-plugin.ts
  scripts/check-source-version-sync.ts
  scripts/sync-source-versions.ts
Due: ESLint Plugin, ESLint Plugin Utils, Security Rules, Architecture Rules

feat: add all non fixable common rules
  packages/eslint-plugin-code-mode/README.md
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm/README.md
  packages/eslint-plugin-mcp-optimized/README.md
  packages/eslint-plugin-mcp/README.md
  packages/eslint-plugin-utils/src/llm-message-format.test.ts
  packages/eslint-plugin-utils/src/llm-message-format.ts
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/hooks-exhaustive-deps.md
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/react/hooks-exhaustive-deps.ts
  packages/eslint-plugin/src/tests/hooks-exhaustive-deps.test.ts
Due: ESLint Plugin, ESLint Plugin Utils

chore(release):
  packages/eslint-plugin-code-mode/package.json
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin-utils/package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/architecture/no-await-in-loop.ts
  packages/eslint-plugin/src/rules/development/no-process-exit.ts
  packages/eslint-plugin/src/rules/error-handling/error-message.ts
  packages/eslint-plugin/src/rules/performance/react-render-optimization.ts
  packages/eslint-plugin/src/rules/quality/expiring-todo-comments.ts
  packages/eslint-plugin/src/rules/quality/no-lonely-if.ts
  packages/eslint-plugin/src/rules/quality/no-nested-ternary.ts
  packages/eslint-plugin/src/rules/quality/prefer-dom-node-text-content.ts
  packages/eslint-plugin/src/rules/react/display-name.ts
  packages/eslint-plugin/src/rules/react/hooks-exhaustive-deps.ts
  packages/eslint-plugin/src/rules/react/jsx-key.ts
  packages/eslint-plugin/src/rules/react/require-optimization.ts
  packages/eslint-plugin/src/rules/security/detect-child-process.ts
  packages/eslint-plugin/src/rules/security/detect-object-injection.ts
  packages/eslint-plugin/src/rules/security/no-sql-injection.ts
  packages/eslint-plugin/src/rules/security/no-unsafe-dynamic-require.ts
  packages/eslint-plugin/src/tests/configs.test.ts
  packages/eslint-plugin/src/tests/max-dependencies.test.ts
  packages/eslint-plugin/src/tests/no-unreadable-iife.test.ts
  packages/eslint-plugin/src/tests/node-fs-utils.test.ts
  packages/eslint-plugin/src/utils/node-fs-utils.ts
  tsconfig.json
Due: ESLint Plugin, ESLint Plugin Utils, Security Rules, Architecture Rules

fix: type issues
  packages/eslint-plugin/src/rules/react/require-optimization.ts
Due: ESLint Plugin

chore: improve changelogs and docs
  eslint.config.mjs
  packages/eslint-plugin-code-mode/CHANGELOG.md
  packages/eslint-plugin-llm-optimized/CHANGELOG.md
  packages/eslint-plugin-llm/CHANGELOG.md
  packages/eslint-plugin-mcp-optimized/CHANGELOG.md
  packages/eslint-plugin-mcp/CHANGELOG.md
  packages/eslint-plugin-utils/CHANGELOG.md
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: ESLint Plugin, ESLint Plugin Utils

docs: add complete rules reference with GitHub documentation links
  packages/eslint-plugin-code-mode/CHANGELOG.md
  packages/eslint-plugin-code-mode/README.md
  packages/eslint-plugin-llm-optimized/CHANGELOG.md
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm/CHANGELOG.md
  packages/eslint-plugin-llm/README.md
  packages/eslint-plugin-mcp-optimized/CHANGELOG.md
  packages/eslint-plugin-mcp-optimized/README.md
  packages/eslint-plugin-mcp/CHANGELOG.md
  packages/eslint-plugin-mcp/README.md
Due: none

fix: add type annotation for arg parameter in require-optimization rule
  packages/eslint-plugin-llm-optimized/README.md
  packages/eslint-plugin-llm/README.md
  packages/eslint-plugin/src/rules/react/require-optimization.ts
Due: ESLint Plugin

chore(release):
  packages/eslint-plugin-code-mode/package.json
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
Due: none

Path conditions:
  ESLint Plugin: any of: packages/eslint-plugin/**
  CLI: any of: packages/cli/**
  ESLint Plugin Utils: any of: packages/eslint-plugin-utils/**
  Playground App: any of: apps/playground/**
  Security Rules: any of: packages/eslint-plugin/src/rules/security/**
  Architecture Rules: any of: packages/eslint-plugin/src/rules/architecture/**
