Repository ofri-peretz/forge-js: changes, and which Codecov flags are due for each by the changed paths.
All: ESLint Plugin, CLI, ESLint Plugin Utils, Playground App, Security Rules, Architecture Rules

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
  require_changes: false
  require_base: false
  branches:
    - main

# Component management for monorepo packages
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"  # Don't require on main
      - type: patch
        target: auto

  individual_components:
    # ESLint Plugin package
    - component_id: eslint_plugin
      name: "ESLint Plugin"
      paths:
        - "packages/eslint-plugin/**"
      statuses:
        - type: project
          target: 85
          branches:
            - "!main"
        - type: patch
          target: 80

    # CLI package
    - component_id: cli
      name: "CLI"
      paths:
        - "packages/cli/**"
      statuses:
        - type: project
          target: 75
          branches:
            - "!main"
        - type: patch
          target: 70

    # ESLint Plugin Utils package
    - component_id: eslint_plugin_utils
      name: "ESLint Plugin Utils"
      paths:
        - "packages/eslint-plugin-utils/**"
      statuses:
        - type: project
          target: 80
          branches:
            - "!main"
        - type: patch
          target: 75

    # Playground app
    - component_id: playground
      name: "Playground App"
      paths:
        - "apps/playground/**"
      statuses:
        - type: project
          target: 60
          branches:
            - "!main"
        - type: patch
          target: 50

    # Security rules
    - component_id: security_rules
      name: "Security Rules"
      paths:
        - "packages/eslint-plugin/src/rules/security/**"
      statuses:
        - type: project
          target: 90
          branches:
            - "!main"

    # Architecture rules
    - component_id: architecture_rules
      name: "Architecture Rules"
      paths:
        - "packages/eslint-plugin/src/rules/architecture/**"
      statuses:
        - type: project
          target: 85
          branches:
            - "!main"

# Pull request comments
pr_comments:
  default_rules:
    flag_coverage_delta: 0.01

# Status checks
statuses:
  project:
    default:
      target: 80
      branches:
        - "!main"
  patch:
    default:
      target: 75
  changes:
    default:
      branches:
        - "!main"

fix: package json paths
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
Due: none

chore(release):
  packages/cli/package.json
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin, CLI

chore(release): version packages
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-mcp/package.json
Due: none

docs: rename .github/README.md to CONTRIBUTING.md to fix GitHub homepage display
  .github/CONTRIBUTING.md
Due: none

chore: improve repo readiness
  .github/CONTRIBUTING.md
  packages/cli/CHANGELOG.md
  packages/cli/LICENSE
  packages/eslint-plugin-llm-optimized/CHANGELOG.md
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin/LICENSE
  packages/eslint-plugin/package.json
Due: ESLint Plugin, CLI

docs: update README badges and package versions
  README.md
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
Due: none

chore(release):
  packages/eslint-plugin-llm-optimized/package.json
Due: none

fix: mitigate issues and add test coverage
  .husky/pre-commit
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin/src/rules/accessibility/img-requires-alt.ts
  packages/eslint-plugin/src/rules/complexity/cognitive-complexity.ts
  packages/eslint-plugin/src/rules/deprecation/no-deprecated-api.ts
  packages/eslint-plugin/src/rules/development/prefer-dependency-version-strategy.ts
  packages/eslint-plugin/src/rules/domain/enforce-naming.ts
  packages/eslint-plugin/src/rules/migration/react-class-to-hooks.ts
  packages/eslint-plugin/src/rules/security/database-injection.ts
  packages/eslint-plugin/src/rules/security/detect-object-injection.ts
  packages/eslint-plugin/src/rules/security/no-sql-injection.ts
  packages/eslint-plugin/src/rules/security/no-unsafe-dynamic-require.ts
  packages/eslint-plugin/src/tests/cognitive-complexity.test.ts
  packages/eslint-plugin/src/tests/database-injection.test.ts
  packages/eslint-plugin/src/tests/detect-child-process.test.ts
  packages/eslint-plugin/src/tests/detect-non-literal-fs-filename.test.ts
  packages/eslint-plugin/src/tests/detect-non-literal-regexp.test.ts
  packages/eslint-plugin/src/tests/detect-object-injection.test.ts
  packages/eslint-plugin/src/tests/enforce-naming.test.ts
  packages/eslint-plugin/src/tests/identical-functions.test.ts
  packages/eslint-plugin/src/tests/img-requires-alt.test.ts
  packages/eslint-plugin/src/tests/no-deprecated-api.test.ts
  packages/eslint-plugin/src/tests/no-sql-injection.test.ts
  packages/eslint-plugin/src/tests/no-unsafe-dynamic-require.test.ts
  packages/eslint-plugin/src/tests/prefer-dependency-version-strategy.test.ts
  packages/eslint-plugin/src/tests/react-class-to-hooks.test.ts
  packages/eslint-plugin/src/tests/react-no-inline-functions.test.ts
  packages/eslint-plugin/src/tests/required-attributes.test.ts
Due: ESLint Plugin, Security Rules

fix: tests and broken logic
  packages/eslint-plugin/src/rules/complexity/cognitive-complexity.ts
  packages/eslint-plugin/src/rules/performance/react-no-inline-functions.ts
  packages/eslint-plugin/src/tests/cognitive-complexity.test.ts
  packages/eslint-plugin/src/tests/detect-child-process.test.ts
  packages/eslint-plugin/src/tests/detect-eval-with-expression.test.ts
  packages/eslint-plugin/src/tests/img-requires-alt.test.ts
  packages/eslint-plugin/src/tests/no-circular-dependencies.test.ts
  packages/eslint-plugin/src/tests/no-deprecated-api.test.ts
  packages/eslint-plugin/src/tests/no-internal-modules.test.ts
  packages/eslint-plugin/src/tests/prefer-dependency-version-strategy.test.ts
  packages/eslint-plugin/src/tests/react-no-inline-functions.test.ts
  packages/eslint-plugin/src/tests/required-attributes.test.ts
Due: ESLint Plugin

chore(release):
  packages/cli/package.json
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin-utils/package.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin, CLI, ESLint Plugin Utils

chore: add test coverage for all rules as close to 100% possible
  packages/eslint-plugin-utils/package.json
  packages/eslint-plugin-utils/src/ast-utils.test.ts
  packages/eslint-plugin-utils/src/ast-utils.ts
  packages/eslint-plugin-utils/src/index.test.ts
  packages/eslint-plugin-utils/src/rule-creator.test.ts
  packages/eslint-plugin-utils/src/type-utils.test.ts
  packages/eslint-plugin/src/rules/architecture/no-circular-dependencies.ts
  packages/eslint-plugin/src/rules/development/prefer-dependency-version-strategy.ts
  packages/eslint-plugin/src/rules/migration/react-class-to-hooks.ts
  packages/eslint-plugin/src/tests/cognitive-complexity.test.ts
  packages/eslint-plugin/src/tests/database-injection.test.ts
  packages/eslint-plugin/src/tests/detect-eval-with-expression.test.ts
  packages/eslint-plugin/src/tests/identical-functions.test.ts
  packages/eslint-plugin/src/tests/img-requires-alt.test.ts
  packages/eslint-plugin/src/tests/llm-context.test.ts
  packages/eslint-plugin/src/tests/no-circular-dependencies-integration.test.ts
  packages/eslint-plugin/src/tests/no-circular-dependencies.test.ts
  packages/eslint-plugin/src/tests/no-console-log.test.ts
  packages/eslint-plugin/src/tests/no-internal-modules.test.ts
  packages/eslint-plugin/src/tests/no-sql-injection.test.ts
  packages/eslint-plugin/src/tests/prefer-dependency-version-strategy.test.ts
  packages/eslint-plugin/src/tests/react-class-to-hooks.test.ts
  packages/eslint-plugin/src/tests/react-no-inline-functions.test.ts
  packages/eslint-plugin/src/tests/required-attributes.test.ts
  packages/eslint-plugin/vitest.config.mts
  pnpm-lock.yaml
Due: ESLint Plugin, ESLint Plugin Utils, Architecture Rules

fix: last tests
  packages/eslint-plugin/src/tests/react-class-to-hooks.test.ts
Due: ESLint Plugin

fix(build): exclude test files from eslint-plugin-utils build
  packages/eslint-plugin-utils/tsconfig.lib.json
Due: ESLint Plugin Utils

fix(build): add type annotations to fix TypeScript build errors
  packages/eslint-plugin-utils/tsconfig.lib.json
  packages/eslint-plugin/src/rules/development/prefer-dependency-version-strategy.ts
  packages/eslint-plugin/src/rules/migration/react-class-to-hooks.ts
Due: ESLint Plugin, ESLint Plugin Utils

fix: tests
  packages/eslint-plugin/src/tests/no-hardcoded-credentials.test.ts
Due: ESLint Plugin

feat(eslint-plugin): no-hardcoded-credentials rule
  .cursorrules/eslint-rule-checklist.md
  packages/eslint-plugin/docs/rules/no-hardcoded-credentials.md
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/security/no-hardcoded-credentials.ts
  packages/eslint-plugin/src/tests/no-hardcoded-credentials.test.ts
Due: ESLint Plugin, Security Rules

fix: all tests and config files
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/no-weak-crypto.md
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/development/prefer-dependency-version-strategy.ts
  packages/eslint-plugin/src/rules/security/no-weak-crypto.ts
  packages/eslint-plugin/src/tests/no-weak-crypto.test.ts
  packages/eslint-plugin/src/types/index.ts
Due: ESLint Plugin, Security Rules

fix: secret examples
  packages/eslint-plugin/docs/rules/no-hardcoded-credentials.md
Due: ESLint Plugin

chore: update pr tempalte
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: fix lint and enhance roadmaps
  ROADMAP.md
  packages/eslint-plugin-utils/src/type-utils.test.ts
  packages/eslint-plugin/src/rules/security/no-hardcoded-credentials.ts
  packages/eslint-plugin/src/rules/security/no-weak-crypto.ts
  packages/eslint-plugin/src/tests/no-circular-dependencies.test.ts
Due: ESLint Plugin, ESLint Plugin Utils, Security Rules

feat(eslint-plugin): add no-insufficient-random rule
  packages/eslint-plugin/docs/rules/no-insufficient-random.md
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/security/no-insufficient-random.ts
  packages/eslint-plugin/src/tests/no-insufficient-random.test.ts
  packages/eslint-plugin/src/types/index.ts
Due: ESLint Plugin, Security Rules

feat: add input validation rules
  ROADMAP.md
  packages/eslint-plugin/docs/rules/no-missing-cors-check.md
  packages/eslint-plugin/docs/rules/no-unescaped-url-parameter.md
  packages/eslint-plugin/docs/rules/no-unsanitized-html.md
  packages/eslint-plugin/docs/rules/no-unvalidated-user-input.md
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/security/no-missing-cors-check.ts
  packages/eslint-plugin/src/rules/security/no-unescaped-url-parameter.ts
  packages/eslint-plugin/src/rules/security/no-unsanitized-html.ts
  packages/eslint-plugin/src/rules/security/no-unvalidated-user-input.ts
  packages/eslint-plugin/src/tests/no-missing-cors-check.test.ts
  packages/eslint-plugin/src/tests/no-unescaped-url-parameter.test.ts
  packages/eslint-plugin/src/tests/no-unsanitized-html.test.ts
  packages/eslint-plugin/src/tests/no-unvalidated-user-input.test.ts
  packages/eslint-plugin/src/types/index.ts
Due: ESLint Plugin, Security Rules

fix: tests and increase coverage
  packages/eslint-plugin/src/rules/security/no-insufficient-random.ts
  packages/eslint-plugin/src/rules/security/no-missing-cors-check.ts
  packages/eslint-plugin/src/rules/security/no-unvalidated-user-input.ts
  packages/eslint-plugin/src/tests/no-insufficient-random.test.ts
  packages/eslint-plugin/src/tests/no-missing-cors-check.test.ts
  packages/eslint-plugin/src/tests/no-unsanitized-html.test.ts
  packages/eslint-plugin/src/tests/no-unvalidated-user-input.test.ts
Due: ESLint Plugin, Security Rules

fix: add coverage
  packages/eslint-plugin/README.md
  packages/eslint-plugin/src/rules/security/no-unvalidated-user-input.ts
  packages/eslint-plugin/src/tests/no-missing-cors-check.test.ts
Due: ESLint Plugin, Security Rules

fix: tests
  packages/eslint-plugin/src/rules/security/no-missing-cors-check.ts
Due: ESLint Plugin, Security Rules

chore(eslint-plugin): update CHANGELOG with all new security rules
  packages/eslint-plugin/CHANGELOG.md
Due: ESLint Plugin

fix(eslint-plugin): fix lint warnings in no-unescaped-url-parameter
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/src/rules/security/no-unescaped-url-parameter.ts
Due: ESLint Plugin, Security Rules

fix(eslint-plugin): fix TypeScript strict mode errors
  packages/eslint-plugin/src/rules/security/no-unsanitized-html.ts
  packages/eslint-plugin/src/rules/security/no-unvalidated-user-input.ts
Due: ESLint Plugin, Security Rules

chore(release):
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin/package.json
Due: ESLint Plugin

chore(roadmap): update roadmap - mark S2 Input Validation rules as completed
  ROADMAP.md
Due: none

feat: access control rules
  packages/eslint-plugin/docs/rules/no-insecure-comparison.md
  packages/eslint-plugin/docs/rules/no-missing-authentication.md
  packages/eslint-plugin/docs/rules/no-privilege-escalation.md
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/security/no-insecure-comparison.ts
  packages/eslint-plugin/src/rules/security/no-missing-authentication.ts
  packages/eslint-plugin/src/rules/security/no-privilege-escalation.ts
  packages/eslint-plugin/src/tests/no-insecure-comparison.test.ts
  packages/eslint-plugin/src/tests/no-missing-authentication.test.ts
  packages/eslint-plugin/src/tests/no-privilege-escalation.test.ts
  packages/eslint-plugin/src/types/index.ts
Due: ESLint Plugin, Security Rules

chore(release):
  ROADMAP.md
  packages/cli/package.json
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin-utils/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/package.json
Due: ESLint Plugin, CLI, ESLint Plugin Utils

fix: remove unused
  packages/eslint-plugin/src/rules/security/no-missing-authentication.ts
Due: ESLint Plugin, Security Rules

feat: improve AEO and discoverability
  .github/CODEOWNERS
  .github/REPOSITORY_SETUP.md
  .github/SUPPORT.md
  CONTRIBUTING.md
  LLM_DISCOVERABILITY_CHECKLIST.md
  README.md
  package.json
  packages/cli/AGENTS.md
  packages/cli/package.json
  packages/eslint-plugin-llm-optimized/AGENTS.md
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/AGENTS.md
  packages/eslint-plugin-llm/package.json
  packages/eslint-plugin-mcp-optimized/AGENTS.md
  packages/eslint-plugin-mcp-optimized/package.json
  packages/eslint-plugin-mcp/AGENTS.md
  packages/eslint-plugin-mcp/package.json
  packages/eslint-plugin-utils/AGENTS.md
  packages/eslint-plugin-utils/package.json
  packages/eslint-plugin/AGENTS.md
  packages/eslint-plugin/package.json
Due: ESLint Plugin, CLI, ESLint Plugin Utils

fix: add files
  packages/eslint-plugin-llm-optimized/package.json
  packages/eslint-plugin-llm/package.json
Due: none

feat: add AEO optimization summary documentation
  AEO_OPTIMIZATION_SUMMARY.md
Due: none
